<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/style.css' %}"/>
    {% comment %} <link rel='stylesheet' href="{% static 'munu/css/style.css' %}"/> {% endcomment %}
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{pt}} Trainining fee is {{fe}}</h1>
    <img src ="{% static 'munu/images/mn.png' %}" alt="django"/>
    <img src ="{% get_static_prefix %}munu/images/mn.png" alt="django"/>
    <hr>
    <form action="">
    <input type ='button' value='click me' onclick="disp()"/>
    </form>
    <script src = "{% static 'munu/js/all.js' %}"></script>
</body>
</html>
